<div class="col-md">
  <input class="form-control mb-2" id="filter-input" type="text" placeholder="Filter...">
</div>

<div class="col-lg">
  <form action="/news/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
    News to search: <input type="text" name="search" id="search" class="search-text">

    <button class="btn btn-primary search-submit" type="submit" name="">Search</button>
  </form>
</div>

<div class="col-xs">
  <select name="select-sorting" class="browser-default custom-select sort-select">
    <option value="created-asc">Created At Asc</option>
    <option value="created-desc">Created At Desc</option>
    <option value="updated-asc">Updated At Asc</option>
    <option value="updated-desc">Updated At Desc</option>
  </select>
</div>

<script>
  // this should be well tested in acceptance
  $(document).ready(function(){
    // for a more dinamic Class, we should pass a lot of params
    var sorter = new $.Sorter();
    sorter.initEvents();

    $('.search-submit').click(function(){
      if ($.trim($('.search-text').val()) == ''){
        alert('Fill search input.');
        return false;
      }
    })

    $('#filter-input').on('keyup', function() {
      var value = $(this).val().toLowerCase();
      $('.news-item .main').filter(function() {
        // we want filter content in essential but hide the whole div
        $(this).parent().toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
